<div class="row">
  <div class="col-md-6">
    <h1>Online Parser</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Takorogo</h3>
    <textarea ui-codemirror="cmTakorogoOptions" ng-model="takorogoText"></textarea>
  </div>
  <div class="col-md-6">
    <h3>JSON Schema</h3>
    <textarea ui-codemirror="cmJsonSchemaOptions" ng-model="jsonSchemaText"></textarea>
  </div>
</div>

<script type="text/ng-template" id="views/schemas/tweet.html">
# Metadata
@description Tweet document returned by Twitter Stream API

# Main definition for schema
@main def Tweet {
    UNIQUE(id_str:String)
    UNIQUE(id:Int)

    + location: String

    <--[POSTED]-- user:User
    --> metadata
    <--[ REPLIED_WITH|REPLIED_TO ]--> in_reply_to_status_id_str => in_reply_to:Tweet
    --[ REFERS_TO(indices[first, last]) ]--> entities.urls:Url[]
    --[ HAS_TAG(indices[first, last]) ]--> entities.hashtags:HashTag(text)[]
    --[ AT ]--> coordinates:Location
    --[ ON ]--> geo:Location
    --[ PLACED ]--> place:Place
}

# Just a point
def Coordinates(longitude: Float, latitude: Float) [ longitude, latitude ]

def Location(coordinates:Coordinates)  // Simply a wrapper for coordinates

def Place {
  --[ BOUNDED_BY ]--> bounding_box.coordinates => bounding_box:Coordinates[]
}

def User(id_str) {
  --[REFERS_TO(indices[first, last])]--> entities.url.urls:Url[]
}
</script>
